*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}

/* ---------------------- Mobile ---------------------- */

.navigation{
  background:#221A3D;
  position: relative;
  text-align: center;
  height: 3.5rem;
  z-index: 10;
  display: flex;
  align-items: center;
}

.navigation_links{
  display: none;
}

.navigation_title{
  color: white;
  font-size: 1.5rem;
  padding: .5rem 0;
  width: 100%;
}

.navigation_burger{
  width: 1rem;
  height: 1.5rem;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
}

.burger{
  display: block;
  width: 100%;
  height: 0.1rem;
  background: white;
  transition: all ease-in-out 200ms;
}

.burger:nth-child(2){
  display: block;
  width: 100%;
  height: 0.1rem;
  background: white;
  position: absolute;
  top: .5rem;
  transition: all ease-in-out 200ms;
}

.burger:nth-child(3){
  display: block;
  width: 100%;
  height: 0.1rem;
  background: white;
  position: absolute;
  top: 1rem;
  transition: all ease-in-out 200ms;
}

.navigation_mobile{
  position: absolute;
  width: 100%;
  background: #221A3D;
  list-style: none;
  top: -25rem;
  transition: all ease-in-out 400ms;
}

.spawn{
  top: 3.5rem;
}

.crossform{
  transform: rotate(45deg);
  top: .5rem;
  position: absolute;
}

.crossform2{
  transform: rotate(-45deg);
  top: 0;
  position: absolute;
}

.nothingness{
  opacity: 0;
}

.navigation_link{
  text-decoration: none;
  text-align: center;
  display: block;
  color: aquamarine;
  padding: .9rem .5rem;
  border-bottom : 4px solid transparent;
  transition: all ease-in-out 200ms;
  font-size: 1.2rem;
}

.navigation_link:hover{
  background: #2A204A;
  border-bottom : 4px solid aquamarine;
}

.container{
  background: #eeeeee;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.container_title{
  flex: 0 0 100%;
  text-align: center;
  font-size: 1.5rem;
}

.card_container{
  width:90%;
  height: 18rem;
  margin: 1rem .5rem;
  border-radius: 1rem;
  box-shadow: .5rem .5rem 1.2rem #90908f;
  transition: all ease-in-out 200ms;
}

.card_container:hover{
  cursor: pointer;
  box-shadow: .5rem .5rem 1.5rem #70706f;
}

.card_banner{
height: 60%;
width: 100%;
background: aquamarine;
border-radius: 1rem 1rem 0 0;
}

.card_banner img{
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.card_content{
  height: 40%;
  background: white;
  border-radius: 0 0 1rem 1rem;
  padding: .3rem;
}

.card_title{
  color: #10100f;
  font-size: 1.1rem;
}

.card_description{
  width: 100%;
  color: #a1a19f;
  font-size: 0.8rem;
}

.card_link_{
  display: block;
  margin: .5rem 0;
  text-decoration: none;
  color: #20201f;
  font-size: 1rem;
}

@keyframes spawn{
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
}

.cookies_banner{
  animation: spawn 600ms 1000ms ease-in-out both 1;
  position: fixed;
  bottom: 0;
  background:rgba(210,210,215, 0.5);
  clear: both;
  height: 10rem;
  border-radius: .5rem .5rem 0 0;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 1rem 0 1rem #c6c6c5;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  backdrop-filter: blur( 4px );
  border: 1px solid rgba(210,210,215, 0.5);
}

.cookies_banner a{
  text-decoration: none;
  font-weight: bold;
  color:#20201f;
}

.cookies_title{
  flex: 0 0 100%;
  font-size: 1.2rem;
}

.close{
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 1.5rem;
  right: 2rem;
  opacity: 0.6;
  transition: all ease-in-out 200ms;
}

.close:hover{
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
}

.close::after{
  content: '';
  display: block;
  position: absolute;
  width: 1rem;
  height: 0.2rem;
  background: #20201f;
  right: 0;
  top: 0.4rem;
}

.cookies_subtitle{
  flex: 0 0 100%;
  font-size: 1rem;
  margin: 0.3rem 0;
}

.cookies_img{
  width: 2rem;
  float: left;
  transition : transform ease-in-out 200ms;
  margin-right: .3rem;
}

.cookies_img:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.cookies_text{
  flex: 0 0 80%;
  font-size: 0.8rem;
}

.cookies_more{
  display: block;
  clear: both;
  font-size: 1rem;
  transition: all ease-in-out 200ms;
  margin: 0.3rem 0;
}

.cookies_more:hover{
  transform: scale(1.05);
}

.minifier{
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: .5rem;
  box-shadow: 0rem 0 .5rem #20201f;
  background:rgba(210,210,215, 0.7);
}

.minifier-img{
  width: 100%;
  height: 100%;
}

.frag{
  display: none;
}

.end{
  background: #221A3D;
  clear: both;
  padding: 1rem;
}

.footer_navigation-main, .footer_navigation-side{
  width: 100%;
  color: aquamarine;
}

.footer_navigation-main h3, .footer_navigation-side h3{
  margin: 1rem 0;
}

.footer_navigation-main ul, .footer_navigation-side ul{
  list-style: none;
}

.footer_navigation-main a, .footer_navigation-side a{
  text-decoration: none;
  color: white;
  display: block;
  margin: .5rem 0;
  transition: transform ease-in-out 200ms;
}

.footer_navigation-main a:hover, .footer_navigation-side a:hover{
  transform: scale(1.01);
}

.copyrights{
  color: aquamarine;
  clear: both;
  padding: 1rem 0;
  font-size: .8rem;
}

/* ---------------------- Desktop ---------------------- */

@media screen and (min-width:1024px){
  .navigation{
    background:#221A3D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
  }

  .navigation_title{
    color: white;
    font-size: 3rem;
    padding: 0rem 1rem;
    width: initial;
  }

  .navigation_links{
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .navigation_link{
    text-decoration: none;
    display: block;
    color: aquamarine;
    padding: 1.9rem 1.5rem;
    border-bottom : 4px solid transparent;
    transition: all ease-in-out 200ms;
  }

  .navigation_burger{
    display: none;
  }

  .navigation_link:hover{
    background: #2A204A;
    border-bottom : 4px solid aquamarine;
  }

  .navigation_mobile{
    display: none;
  }

  .container{
    background: #eeeeee;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .container_title{
    flex: 0 0 100%;
    text-align: center;
    font-size: 2rem;
  }

  .card_container{
    width:31%;
    height: 350px;
    margin: .5rem;
    float: left;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1.2rem #90908f;
    transition: all ease-in-out 200ms;
  }

  .card_container:hover{
    cursor: pointer;
    box-shadow: .5rem .5rem 1.5rem #70706f;
  }

  .card_banner{
  height: 60%;
  width: 100%;
  background: aquamarine;
  border-radius: 1rem 1rem 0 0;
  }

  .card_banner img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .card_content{
    height: 40%;
    background: white;
    border-radius: 0 0 1rem 1rem;
    padding: .5rem;
  }

  .card_title{
    color: #10100f;
  }

  .card_description{
    width: 100%;
    color: #a1a19f;
  }

  .card_link_{
    display: block;
    margin: .5rem 0;
    text-decoration: none;
    color: #20201f;
  }

  @keyframes spawn{
    0%{
      opacity: 0;

    }
    100%{
      opacity: 1;
    }
  }

  .cookies_banner{
    animation: spawn 600ms 1000ms ease-in-out both 1;
    position: fixed;
    bottom: 0;
    background:rgba(210,210,215, 0.5);
    clear: both;
    height: 15rem;
    border-radius: .5rem .5rem 0 0;
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: 1rem 0 1rem #c6c6c5;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur( 4px );
    border: 1px solid rgba(210,210,215, 0.5);
  }

  .cookies_banner a{
    text-decoration: none;
    font-weight: bold;
    color:#20201f;
  }

  .cookies_title{
    flex: 0 0 100%;
    font-size: 22pt;
  }

  .close{
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 1.5rem;
    right: 2rem;
    opacity: 0.6;
    transition: all ease-in-out 200ms;
  }

  .close:hover{
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
  }

  .close::after{
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 20px;
    transform: rotate(90deg);
    background: #20201f;
    right: 0.5rem;
    top: -0.1rem;
  }

  .cookies_subtitle{
    flex: 0 0 100%;
    font-size: 20pt;
  }

  .cookies_img{
    width: 5rem;
    float: left;
    transition : transform ease-in-out 200ms;
  }

  .cookies_img:hover{
    cursor: pointer;
    transform: scale(1.1);
  }

  .cookies_text{
    flex: 0 0 90%;
    font-size: 18pt;
  }

  .cookies_more{
    display: block;
    clear: both;
    font-size: 18pt;
    transition: all ease-in-out 200ms;
  }

  .cookies_more:hover{
    transform: scale(1.05);
  }

  .minifier{
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: .5rem;
    box-shadow: 0rem 0 .5rem #20201f;
    background:rgba(210,210,215, 0.7);
  }

  .minifier-img{
    width: 100%;
    height: 100%;
  }

  .frag{
    display: none;
  }

  .end{
    background: #221A3D;
    clear: both;
    padding: 1rem 2rem;
  }

  .footer_navigation-main, .footer_navigation-side{
    width: 50%;
    float: left;
    color: aquamarine;
  }

  .footer_navigation-main h3, .footer_navigation-side h3{
    margin: 1rem 0;
  }

  .footer_navigation-main ul, .footer_navigation-side ul{
    list-style: none;
  }

  .footer_navigation-main a, .footer_navigation-side a{
    text-decoration: none;
    color: white;
    display: block;
    margin: .5rem 0;
    transition: transform ease-in-out 200ms;
  }

  .footer_navigation-main a:hover, .footer_navigation-side a:hover{
    transform: scale(1.01);
  }

  .copyrights{
    color: aquamarine;
    clear: both;
    padding: 1rem 0;
    font-size: .8rem;
  }
}

/* ---------------------- Tablet ---------------------- */
